/* To-Do: */
/* After Completion: Remove temp bg-color, */

#hsContainer {
  display: flex;
  justify-content: space-between;
}

#hsSubContainer {
  position: relative;
}

.hsButton {
  justify-content: left;
}

.timerContainer {
  justify-content: right;
}

.timerContainer p {
    padding: 0;
    margin: 0;
}

/* if time remaining < 10, then color: red; and font-weight:bold; */
/* bonus, not MVP */
/* .timerContainer span {
}  */

.quiz {
  margin: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  /* temp bg-color */
  background-color: black;
}
